.image {
    
    height: 200px;
    width: 200px;
    
    /* -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; */ 
  }

  
.image:hover {
  /* transform: scale(1.05); */
  /* -webkit-transform: scale(1.05); */
	transform: scale(1.05);
  transition: .3s ease-in-out; 
  
}

.container{
  position: relative;
  width: 5%;
}

.container:hover .span{
  /* transform: scale(1.05); */
  /* -webkit-transform: scale(1.05);
	transform: scale(1.05); */
  opacity:0.5;
  transition: .2s ease;
}

.container:hover .update{
  /* transform: scale(1.05); */
  /* -webkit-transform: scale(1.05);
	transform: scale(1.05); */
  opacity:0.5;
  /* transition: .4s ease; */
}



.img-div .span {
  display:block;
  width: 0px;
  height:0px;
  position:relative;
  top:-205px;
  /* right:0px; */
  left: 173px;
  opacity: 0;
  /* background:#c00; */
  /* overflow:hidden;  */
  /* text-indent:-9999px; */
  cursor: pointer;
}

.img-div .span:hover {
  opacity: 1;
  /* background-color:rgba(255, 255, 255, 0.5) */
  
}

.img-div .update {
  display:block; 
  width:0px;
  height:0px;
  position:relative;
  /* bottom: 0 px; */
  top:-206px;
  left:143px;  
  /* background:rgb(121, 106, 250); */
  /* overflow:hidden;  */
  /* text-indent:-9999px; */
  cursor: pointer;
  opacity: 0;
}

.img-div .update:hover {
  opacity: 1
}



/* .productname {
  background-color: rgb(255,255,0, 0.4);
  font-weight: 500;
  width: 200 px;
} */

.span1 {
  display:inline;
  /* background-color: rgb(255,255,255, 0.4); */
  font-weight: 700;
  font-family:monospace;
  font-size: 20px;
  color: white;

}