.formselect{
    margin-bottom: 20px;
    margin-left: 8px;
    font-size: 16px;
    font-weight: 50;
    width: 100px;
    /* border-bottom: 1px solid black;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px; */
    
}

.label{
    font-size: 14px;
    margin-left: 8px;
    font-weight: 600;
    color: white;
}