  
.item-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    color: white;
  }

.links{
  font-size: 26px;
  ;
}

.loadmsg{
  color:white;
  font-size: 30px;
  text-align: center;
}

.belowloadmsg{
  color:red;
  font-size: 16px;
  text-align: center;
}